html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background-image: linear-gradient(120deg, rgb(181 219 228), rgb(248 238 228));
  font-family: 'Poppins, Segoe UI', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #172455;
}

.heading {
  font-weight: inherit;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5em;
  display: block;
  padding: 1em 0;
}

canvas {
  display: block;
  position: relative;
  border: 2px solid #f7f7f7;
  margin-left: auto;
  margin-right: auto;
}


#trainbutton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  color: #f6f6f6;
  background: #ff4081;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#trainbutton:hover{
  cursor: pointer;
}